{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CipherGuard | Intelligent Password Strength Analyzer</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- ===========================
            NAVBAR
    ============================ -->

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">

        <div class="container">

            <a class="navbar-brand fw-bold" href="#">
                <i class="bi bi-shield-lock-fill"></i>
                CipherGuard
            </a>

            <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"
                id="navbarMenu">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                         <a  class="nav-link" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                         <a  class="nav-link" href="{% url 'about_us' %}">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                         <a  class="nav-link" href="{% url 'features' %}">
                            Features
                        </a>
                    </li>

                    <li class="nav-item">
                         <a  class="nav-link" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item"> 
                    <a href="{% url 'logout' %}" class="btn btn-danger nav-link ms-3">
                        Logout
                    </a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>

    <!-- ===========================
             HERO
    ============================ -->

    <section class="hero">

        <div class="container">

            <div class="row align-items-center">

                <!-- Left -->

                <div class="col-lg-6">
                        <h3>
                            Welcome, {{ request.session.username }} 👋
                        </h3>
                    <span class="hero-tag">
                        🔐 Cyber Security Tool
                    </span>

                    <h1 class="hero-title">

                        Intelligent Password
                        Strength Analyzer

                    </h1>

                    <p class="hero-text">

                        Check your password security in real time.
                        Get live strength analysis, security score,
                        entropy calculation, crack time estimation
                        and smart suggestions to create stronger passwords.

                    </p>

                    <div class="hero-buttons">

                        <a href="#analyzer"
                            class="btn btn-primary btn-lg">

                            Analyze Password

                        </a>

                        <a href="{% url 'about_us' %}"
                            class="btn btn-outline-light btn-lg">

                            Learn More

                        </a>

                    </div>

                </div>

                <!-- Right -->
                 <div class="col-lg-6 mt-5 mt-lg-0">
                    <h4 class="col-lg-6">
                            Live Password Analyzer
                    </h4>

                    <label class="form-label col-lg-6" >
                        Password
                    </label>

                    <div class="input-group col-md-6">

                     <input
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="Enter your password">

                    <button
                     class="btn btn-dark"
                     id="togglePassword">

                    <i class="bi bi-eye"></i>

                     </button>

                    </div>
                    
                
                    <div class="d-flex justify-content-between  mt-4">

                    <span>
                        Security Score
                     </span>

                    <span id="score">

                      0 / 100

                      </span>

                    </div>
                
                    <div class="progress mb-4">

                     <div
                          id="strengthBar"
                          class="progress-bar bg-danger"
                          style="width:0%">

                    </div>

                     </div>
                

                    <h4
                     id="strengthText"
                     class="text-danger">

                     Weak Password

                    </h4>

                    <div class="row mt-4">

                     <div class="col-6">

                     <small class="text-secondary">

                       Entropy

                    </small>

                     <h6 id="entropy">

                        0 bits

                     </h6>

                    </div>

                    <div class="col-6">

                     <small class="text-secondary">

                        Crack Time

                     </small>

                    <h6 id="crackTime">

                      Instantly

                    </h6>

                    </div>

                    </div>

                   <hr>

                   <h5 class="mt-4">

                  Password Requirements

                 </h5>

                <ul class="list-group list-group-flush">

                      <li class="list-group-item bg-transparent text-white" id="length">

                          ❌ Minimum 8 Characters

                      </li>

                         <li class="list-group-item bg-transparent text-white" id="upper">

                            ❌ Uppercase Letter

                      </li>

                         <li class="list-group-item bg-transparent text-white" id="lower">

                             ❌ Lowercase Letter

                      </li>

                         <li class="list-group-item bg-transparent text-white" id="number">

                                ❌ Number

                        </li>

                          <li class="list-group-item bg-transparent text-white" id="symbol">

                               ❌ Special Character

                          </li>

                      </ul>
                </div>
                    <div
                          class="alert alert-info mt-5"
                          id="suggestions">

                          Start typing your password...

                    </div>  

                        
                        <!-- ===========================
                            PASSWORD DASHBOARD
                        ============================ -->

                        <div class="row mt-4">

                            <!-- Requirements -->

                            <div class="col-lg-6 mb-3">

                                <div class="dashboard-box">

                                    <h5>
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                        Password Requirements
                                    </h5>

                                    <ul class="list-unstyled mt-3 requirement-list">

                                        <li id="length">
                                            📏 Minimum 8 Characters
                                        </li>

                                        <li id="uppercase">
                                             🔠 Uppercase Letter
                                        </li>

                                        <li id="lowercase">
                                            🔡 Lowercase Letter
                                        </li>

                                        <li id="number">
                                            🔢  Number
                                        </li>

                                        <li id="special">
                                            ✨ Special Character
                                        </li>

                                        <li id="space">
                                            🚫 No Spaces
                                        </li>

                                        <li id="repeat">
                                            ❌ No Repeated Characters
                                        </li>

                                        <li id="sequence">
                                           ➡️ No Sequential Characters
                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <!-- Suggestions -->

                            <div class="col-lg-6 mb-3">

                                <div class="dashboard-box">

                                    <h5>
                                        <i class="bi bi-lightbulb-fill text-warning"></i>
                                        Suggestions
                                    </h5>

                                    <div id="suggestions">

                                        <p class="text-secondary">

                                             💡 Password Suggestion: Create a strong password by using at least 8 characters with a combination of uppercase and lowercase letters, numbers, and special characters. Avoid using spaces, repeated characters, sequential patterns (such as 123 or abc), and personal information like your name or birth date. A unique and complex password helps protect your account from unauthorized access and improves overall security.

                                        </p>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- Statistics -->

                        <div class="dashboard-box mt-3">

                            <h5>

                                <i class="bi bi-bar-chart-fill text-info"></i>

                                Password Statistics

                            </h5>

                            <div class="row text-center mt-4">

                                <div class="col-4 col-md-2">

                                    <h4 id="charCount">0</h4>

                                    <small>Total</small>

                                </div>

                                <div class="col-4 col-md-2">

                                    <h4 id="upperCount">0</h4>

                                    <small>Upper</small>

                                </div>

                                <div class="col-4 col-md-2">

                                    <h4 id="lowerCount">0</h4>

                                    <small>Lower</small>

                                </div>

                                <div class="col-4 col-md-2 mt-3 mt-md-0">

                                    <h4 id="numberCount">0</h4>

                                    <small>Numbers</small>

                                </div>

                                <div class="col-4 col-md-2 mt-3 mt-md-0">

                                    <h4 id="symbolCount">0</h4>

                                    <small>Symbols</small>

                                </div>

                                <div class="col-4 col-md-2 mt-3 mt-md-0">

                                    <h4 id="uniqueCount">0</h4>

                                    <small>Unique</small>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    
            
    

    <section class="features">

        <div class="container">

            <div class="text-center mb-5">

                <h2 class="fw-bold">

                    Why Choose CipherGuard?

                </h2>

                <p class="text-secondary">

                    Advanced password analysis with a simple and user-friendly interface.

                </p>

            </div>

            <div class="row g-4">

                <div class="col-lg-4">

                    <div class="feature-card">

                        <i class="bi bi-shield-lock-fill feature-icon"></i>

                        <h4>

                            Real-Time Analysis

                        </h4>

                        <p>

                            Instantly analyzes every character while you type
                            and updates your password strength.

                        </p>

                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="feature-card">

                        <i class="bi bi-graph-up-arrow feature-icon"></i>

                        <h4>

                            Security Score

                        </h4>

                        <p>

                            Calculates a security score from 0 to 100 using
                            multiple password security checks.

                        </p>

                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="feature-card">

                        <i class="bi bi-lightbulb-fill feature-icon"></i>

                        <h4>

                            Smart Suggestions

                        </h4>

                        <p>

                            Provides practical recommendations to make
                            your password stronger.

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- ===========================
            SECURITY TIPS
    ============================ -->

    <section class="tips">

        <div class="container">

            <div class="tips-card">

                <h3>

                    <i class="bi bi-shield-fill-check"></i>

                    Security Tips

                </h3>

                <ul>

                    <li>Use passwords with at least 12 characters.</li>

                    <li>Never reuse the same password on multiple websites.</li>

                    <li>Use uppercase, lowercase, numbers and symbols.</li>

                    <li>Avoid dictionary words or personal information.</li>

                    <li>Enable Two-Factor Authentication (2FA).</li>

                </ul>
                <!-- Right Side -->
                <div class="col-6 d-flex justify-content-end">

                    <img src="{% static 'image/website_image.png' %}"
                        alt="Cyber Security"
                        class="security-img">

                </div>

            </div>

        </div>

         

    </section>

    <!-- ===========================
            FOOTER
    ============================ -->

    <footer>

        <div class="container text-center">

            <h4>

                <i class="bi bi-shield-lock-fill text-primary"></i>

                CipherGuard

            </h4>

            <p>

                Intelligent Password Strength Analyzer

            </p>

             

            <hr>

            <small>

                © 2026 CipherGuard | Internship Project

            </small>

        </div>

    </footer>

    <!-- Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->

    <script src="{% static 'js/script3.js' %}"></script>

</body>

</html>                       