 {% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
     
</head>
<body>

<div class="register-box">

    <h2>Create Account</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Register</button>

    </form>

    <div class="login-link">
        <span> Already have an account?</span>
        <a href="{% url 'login' %}">Login</a>
    </div>

</div>


</body>
</html>